@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Rajdhani', monospace;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  box-sizing: border-box;
}

html, body, #root {
  background: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}